<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Akita</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/todos">Todo <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/heros">Hero</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
        <a class="nav-link" href="javascript:void(0)">Management</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="openModalLogout()" href="javascript:void(0)">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container bg-white mt-3 border p-3">
  <router-outlet></router-outlet>
</div>

