<div class="container mt-4 p-3">
  <div class="border bg-white w-50 m-auto p-3">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          [(ngModel)]="loginData.email"
          name="email"
          #Email="ngModel">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          [(ngModel)]="loginData.password"
          name="password"
          #Password="ngModel">
      </div>

      <div class="w-100 mt-4">
        <button type="submit" class="btn btn-primary w-100" (click)="login()">Submit</button>
      </div>
    </form>
  </div>
</div>

