<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <i class="fa fa-times"></i>
  </button>
</div>

<div class="modal-body text-center">
  Do you want to logout?
</div>

<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary w-50" (click)="closeModal()">Cancel</button>
  <button type="button" class="btn btn-primary w-50" (click)="logout()">OK</button>
</div>
